
data/sameas-all-wikis.ttl
data/DBpedia_databus/instance-types_lang=en_specific.ttl.bz2
data/DBpedia_databus/instance-types_lang=en_transitive.ttl.bz2
data/DBpedia_databus/mappingbased-objects_lang=en.ttl
data/DBpedia_databus/mappingbased-objects_lang=en.ttl.bz2
data/DBpedia_databus/sameas-all-wikis.ttl
data/DBpedia_databus/.sameas-all-wikis.ttl.icloud
data/DBpedia_databus/instance-types_lang=en_specific.ttl
data/DBpedia_databus/.mappingbased-objects_lang=en.ttl.icloud
data/DBpedia_databus/.mappingbased-objects_lang=en.ttl.bz2.icloud
data/DBpedia_databus/.instance-types_lang=en_transitive.ttl.bz2.icloud
data/DBpedia_databus/.instance-types_lang=en_specific.ttl.icloud
data/DBpedia_databus/.instance-types_lang=en_specific.ttl.bz2.icloud
data/DBpedia_databus/mappingbased-objects_instance-types.ttl
